
.background{
  background-image: url('../../assets/photo/background.jpg'); 
  background-size: cover;
  background-position: center ;
  height: 100%; 
  width: 100%;

}

.centered-text {
  position: absolute; 
  text-align: center;
  text-shadow: 1px 1px 6px #000000;
  font-size: 4em;
  color: #e4e4e4; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%; 
}

.start-button {
  position: absolute; 
  --background: red;
  bottom: 20%; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 20%; 
}
.colour {
  --ion-color-base: #f17a7a;
}